<!-- N.B. This embeddable view is agnostic of the Bootstrap grid -->
<div translate-namespace="partials.contact">
  <h4 translate>.more_info</h4>

  <ul>
    <li>
      <!-- #NOTE: Year -->
      <a href="http://vaalitulos.hyy.fi/2025/" translate>
        .hyy_election_results_and_stats_caption
      </a>
    </li>
    <li>
      <a href="https://hyy.fi/vaalit" translate>.hyy_election_link_caption</a>
    </li>

    <li>
      <span translate>.in_case_of_fire</span>
      <a href="mailto:vaalit@hyy.fi">vaalit@hyy.fi</a>
    </li>

    <li>
      <!-- #NOTE: Contact information -->
      Eevi Laaksovirta +358 50 432 4939
    </li>
  </ul>
</div>
