<div
  class="col-xs-12 col-sm-6"
  translate-namespace="partials.info">

  <h4 translate>.main_title</h4>
  <p translate=".ingress"></p>

  <p>
    <!-- #NOTE: Date -->
    <span
      translate
      translate-values="{ firstPeriod: '16.-18.10.', secondPeriod: '21.10.-23.10.2024', range: '9-20' }">
      .election_dates_explained
    </span>
  </p>

  <!-- #NOTE: Link to information page before the elections and link to results once elections are ongoing -->
  <p>
    &raquo; <a href="http://vaalitulos.hyy.fi/2024/" translate>
      .hyy_election_results_and_stats_caption
    </a>
  </p>

  <p>
    &raquo; <a href="https://hyy.fi/vaalit" translate>.hyy_election_link_caption</a>
  </p>
</div>

<div
  class="col-xs-12 col-sm-6"
  ng-include src="'views/_contact.html'"></div>
