<div class="col-xs-12 col-sm-6">
  <h4>Helsingin yliopiston hallintovaalit</h4>
  <p>
    Hallinnon opiskelijaedustajien vaalissa valitaan opiskelijaedustajat
    kollegioon, tiedekuntaneuvostoon ja laitosneuvostoon.
  </p>

  <p>
    Sisäänkirjautuminen järjestelmään onnistuu
    <br>
    <strong>ti 3.11.2015 klo 9:00 - 20:00 ja ke 4.11.2015 klo 9:00 - 17:00</strong>
    välisenä aikana. Äänestäminen päättyy ke 4.11.2015 klo 17:05 niiden osalta,
    jotka ehtivät kirjautua sisään ennen ke 4.11.2015 klo 17:00.
  </p>
</div>

<div
  class="col-xs-12 col-sm-6"
  ng-include src="'views/_contact.html'"></div>
