<div
  class="jumbotron"
  translate-namespace="pages.main">

  <div>
    <h1 translate>.page_title</h1>

    <p class="lead">
      <img src="images/logo/hyy-h-without-text.png" style="margin: 1.5em; height: 200px" alt="HYYn logo"><br>
    </p>

    <div ng-if="main.hasElectionTerminated">
      <p
        class="lead"
        translate>
          .voting_has_ended
      </p>

      <p>
        <span translate>.result_will_be_published_at</span>
        <a href="http://vaalitulos.hyy.fi">vaalitulos.hyy.fi</a>.
      </p>

    </div>

    <!-- Voting has not started  -->
    <div ng-if="!main.hasElectionStarted">
      <p class="lead">
        <span translate>.voting_opens_at</span>
        <strong>{{ main.electionSignInStartsAt | moment:'DD.MM.YYYY HH:mm' }}</strong>
      </p>
    </div>

    <!-- Voting has started but time is outside opening hours -->
    <div ng-if="main.hasElectionStarted && !main.isSignInActive && !main.hasSignInEnded">
      <p class="lead">
        <span
          translate
          translate-values="{ open: main.dailyOpeningTime.format('HH:mm'), close: main.dailyClosingTime.format('HH:mm') }">
          .voting_opening_hours
        </span>
      </p>
    </div>

    <!-- Current voting period has already ended, but election will continue eg. next week. -->
    <div ng-if="main.hasElectionStarted && main.hasSignInEnded && !main.hasElectionTerminated">
      <p
        class="lead"
        translate
        translate-values="{ day: '31.10.', time: '10' }">
        .voting_continues_at
      </p>
    </div>

    <div ng-if="main.isSignInActive">
      <p
        class="lead"
        translate>
          .sign_in_using_university_account
      </p>

      <p>
        <a class="btn btn-lg btn-success" ng-href="/haka/auth/new">
          <span ng-if="main.isElectionActive" translate>
            .button_caption_vote
          </span>

          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>

</div>

<div
  class="row"
  ng-include="'views/_info.html'"
></div>
