<div
  class="jumbotron"
  translate-namespace="pages.main">

  <div>
    <h1 translate>.page_title</h1>

    <p class="lead">
      <img src="images/logo/hyy-seppele.png" style="margin: 1.5em; height: 150px" alt="HYYn logo"><br>
    </p>

    <p
      class="lead"
      translate
      ng-if="main.isEligibilityActive">
        .you_may_check_eligibility
        <!--  eng. the right to vote and to stand as candidate -->
        <!-- #TODO: päivämäärä -->
    </p>

    <p
      class="lead"
      translate
      ng-if="main.isElectionsActive">
        .sign_in_using_university_account
    </p>

    <div ng-if="main.hasElectionsEnded">
      <p
        class="lead"
        translate>
          .voting_has_ended
      </p>

      <p>
        <span translate>.result_will_be_published_at</span>
        <a href="http://vaalitulos.hyy.fi">vaalitulos.hyy.fi</a>.
      </p>

    </div>

    <div ng-if="!main.isSignInActive && !main.hasElectionsEnded">
      <p class="lead">
        <!--#TODO:Halloped Vaalikelpoisuuden tarkistaminen
        <span translate>.eligibility_check</span>
        <strong><span ng-bind="main.eligibilitySignInStartsAt"></span></strong>
        -->

        <span translate>.voting_opens_at</span>
        <strong><span ng-bind="main.electionSignInStartsAt"></span></strong>
      </p>
    </div>

    <p ng-if="main.isSignInActive">
      <a class="btn btn-lg btn-success" ng-href="/haka/auth/new">
        <!--#TODO:Halloped Vaalikelpoisuuden tarkistaminen
        <span ng-if="main.isEligibilityActive" translate>
          .button_caption_eligibility
        </span>
        -->

        <span ng-if="main.isElectionsActive" translate>
          .button_caption_vote
        </span>

        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>

</div>

<div
  class="row"
  ng-include="'views/_info.html'"
></div>
