<div class="page-header">
  <h1 translate>pages.profile.page_title</h1>
</div>

<div
  class="row"
  translate-namespace="pages.profile">

  <div class="col-xs-12">
    <p translate>
      .you_are_eligible
    </p>

    <dl class="dl-horizontal">
      <dt translate>.voter.name</dt>
      <dd ng-bind="profile.voter.name"></dd>

      <dt translate>.voter.email</dt>
      <dd ng-bind="profile.voter.email"></dd>

      <dt translate>.voter.phone</dt>
      <dd ng-bind="profile.voter.phone"></dd>

      <dt translate>.voter.faculty</dt>
      <dd ng-bind-template="{{ profile.voter.faculty.name }} ({{ profile.voter.faculty.code }})"></dd>

      <dt translate>.voter.department</dt>
      <dd ng-bind-template="{{ profile.voter.department.name }} ({{ profile.voter.department.code }})"></dd>
    </dl>

    <p translate>
      .in_case_of_problem
    </p>

  </div>
</div>

<div class="row">
  <div
    class="col-xs-12 col-sm-6"
    ng-include src="'views/_contact.html'"></div>
  </div>

</div>
