<!-- This page is only presented on an error. User is redirected on success. -->

<div class="row">
  <div class="col-xs-12">
    <div ng-if="session.loading">
      Ladataan ..
    </div>

    <div ng-if="!session.loading">
      <div ng-if="session.invalidToken">
        <div class="jumbotron alert alert-danger">

          <div class="container">
            <h1>Avain ei kelpaa</h1>

            <p class="lead">
              Sisäänkirjautumislinkkisi on vanhentunut tai virheellinen.
            </p>

            <p>
              Tarkista myös, ettei selaimesi ole Private Browsing tilassa.
            </p>

            <p>
              <a
                ng-href="#/sign-up"
                class="btn btn-primary">
                Pyydä uusi sisäänkirjautumislinkki
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>

  </div> <!-- col -->
</div> <!-- row -->
