<!-- This page is only presented on an error. User is redirected on success. -->

<div
  class="row"
  translate-namespace="pages.sign_in">

  <div class="col-xs-12">
    <div ng-if="session.loading" translate>
      .loading
    </div>

    <div ng-if="!session.loading">
      <div ng-if="session.invalidToken">
        <div class="jumbotron alert alert-danger">

          <div class="container">
            <h1 translate>.error.title_invalid_key</h1>

            <p class="lead" translate>
              .error.lead
            </p>

            <p translate>
              .error.private_browsing_note
            </p>

            <p>
              <a
                translate
                ng-href="#/sign-up"
                class="btn btn-primary">
                .error.request_new_link
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>

  </div> <!-- col -->
</div> <!-- row -->
