<div class="page-header">
  <h1 translate>pages.sign_up.page_title</h1>
</div>

<div
  class="row"
  translate-namespace="pages.sign_up">

  <!-- HAKA AUTHENTICATION -->
  <div
    ng-if="!session.allowLinkRequest"
    class="col-xs-12">

    <p translate>
      .edari.eligibility
    </p>

    <p translate>
      .edari.late_member_note
    </p>

    <!-- #NOTE: Contact information -->
    <p translate translate-values="{ name: 'Henna Houttu', email: 'vaalit@hyy.fi', phone: '+358 50 432 4939'}">
      .if_cannot_sign_in
    </p>

    <p>
      <strong translate>.attention</strong>

      <!-- #NOTE: Voting days -->
      <li translate
          translate-values="{ firstPeriod: '26.10.-28.10.', secondPeriod: '31.10.-2.11.2022' }">
        .voting_days_are
      </li>

      <!-- #NOTE: Voting hours -->
      <li translate
          translate-values="{ range: '10-20' }">
        .voting_open_hours_are
      </li>
    </p>

    <hr>

    <a
      ng-show="session.isSignInActive"
      href="/haka/auth/new"
      class="btn btn-lg btn-primary btn-block"
      translate>
      .primary_button_caption
    </a>

    <p
      ng-hide="session.isSignInActive"
      translate>
      .sign_in_is_not_active
    </p>
  </div> <!-- HAKA AUTHENTICATION -->

  <!-- REQUEST SIGN IN LINK -->
  <!-- Note: Disabled with Haka authentication - remove sign in link code completely? -->
  <div
    ng-if="session.allowLinkRequest"
    translate-namespace=".request_link"
    class="col-xs-12">

    <p translate>
      .ingress
    </p>

    <p translate>
      .password_instructions
    </p>

    <p>
      <span translate>.spam_instructions</span>
      <span translate>.in_case_of_fire</span>
      <!-- #TODO: päivitä yhteystiedot käännöstiedostoon -->
    </p>

    <p>
      <strong translate>.attention</strong>
      <!-- #TODO: päivitä vaalipäivät käännöstiedostoon -->
      <li translate>.election_dates_explained</li>
      <li translate>.staff_eligibility_note</li>
    </p>

    <form class="form-horizontal css-form" name="request">
      <div class="form-group">
        <label
          for="email"
          class="col-sm-2 control-label"
          translate=".input_caption_email">
        </label>

        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input
              type="email"
              class="form-control"
              placeholder="firstname.lastname@helsinki.fi"
              required
              ng-disabled="session.loading || session.submitted"
              ng-model="session.email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-default btn-primary"
            ng-disabled="request.$invalid || session.loading"
            ng-hide="session.submitted || session.error"
            ng-click="session.requestLink(session.email)">

            <div ng-show="session.loading">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              <span translate=".button_caption_submitting"></span>
            </div>

            <span ng-hide="session.loading" translate>
              .button_caption_submit
            </span>

          </button>

          <div ng-show="session.submitted">
            <p translate>
              .link_has_been_sent
            </p>

            <p translate>
              .pls_check_email
            </p>
          </div>

          <div
            class="alert alert-danger"
            ng-show="session.error"
            >

            <p>
              <strong translate>.something_went_wrong.detail</strong>
            </p>

            <p ng-if="!session.error.is_unknown">
              <span
                translate="{{session.error.translation_key}}"
                translate-namespace=".errors"></span>
            </p>

            <p translate>
              .something_went_wrong.if_happens_again
            </p>

            <div ng-if="session.error.is_unknown">
              <p>
                <hr>

                <span translate>
                  .something_went_wrong.pls_explain
                </span>

                <br>
                Status: <span ng-bind="session.error.status"></span>
                <br>
                Data: <span ng-bind="session.error.data | json"></span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div> <!-- REQUEST SIGN IN LINK -->

</div> <!-- row -->
