<h1>Hallintovaalit</h1>

<form novalidate ng-submit="vote.register()">

  <h2>Äänestä</h2>

  <span
    ng-hide="vote.selected">
    Valitse ehdokas listasta, sen jälkeen tähän ilmestyy äänestyslippu.
  </span>

  <span
    ng-show="vote.selected"
    ng-bind-template="Olet äänestämässä ehdokasta: {{ vote.selected }}">
  </span>

  <input
    type="submit"
    ng-show="vote.selected"
    value="Äänestä">


  <h2>Hae ehdokasta</h2>
  <label>
    Numero
    <input ng-model="vote.candidate.number">
  </label>

  <label>
    Nimi
    <input ng-model="vote.candidate.name">
  </label>

  <ul>
    <li ng-repeat="c in vote.candidates | filter:vote.candidate">
      <label>
        <input
          type="radio"
          ng-model="vote.selected"
          ng-value="c.number">

        {{ c.number }}
        {{ c.name }}
      </label>
    </li>
  </ul>


</form>

<pre ng-bind="vote.candidates | candidate:vote.candidate | json"></pre>
