<div class="page-header">
  <h1>Hallintovaalit</h1>
</div>

<div
  class="jumbotron alert alert-danger"
  ng-if="vote.loadError">

  <div class="container">
    <h1>Kävi hassusti :/</h1>

    <p>
      Ehdokastietojen lataaminen epäonnistui.
    </p>

    <p>
      Pyydä <a ng-href="#/sign-up">uusi sisäänkirjautumislinkki</a>
      ja yritä uudelleen. Jos ongelma toistuu, ota yhteys ylioppilaskunnan
      vaalityöntekijään <a ng-href="mailto:vaalit@hyy.fi">vaalit@hyy.fi</a>.
    </p>

    <a
      ng-href="#/sign-up"
      class="btn btn-primary">
      Uusi sisäänkirjautumislinkki
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <form
      novalidate
      ng-hide="vote.loadError">

      <div> <!-- required container for set-class-when-at-top -->
        <div
          class="panel panel-primary vote-ballot"
          set-class-when-at-top="fix-to-top"
          padding-when-at-top="10">
          <!-- N.B. padding-when-at-top must match the fixed position px,
               otherwise a jumpy side-effect will occurr -->

          <div class="panel-heading">
            <h3 class="panel-title">Äänestä</h3>
          </div>

          <div class="panel-body">
            <span
              ng-hide="vote.isProspectSelected()">
              Valitse ehdokas listasta, sen jälkeen tähän ilmestyy äänestyslippu.
            </span>

            <vote-prospect
              ng-show="vote.isProspectSelected()"
              selected="vote.selected"
              all="vote.candidates">
            </vote-prospect>
          </div>

          <div class="panel-footer">
            <button
              class="btn btn-primary"
              vote-confirm-click="Haluatko äänestää valitsemaasi henkilöä? Et voi muuttaa ääntäsi jälkikäteen."
              vote-confirm-action="vote.submit(vote.selected)"
              ng-disabled="!vote.isProspectSelected() || vote.submitting || vote.submitted"
              ng-hide="vote.submitted"
              >

                <div ng-show="vote.submitting && !vote.submitted">
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                  Äänestetään ..
                </div>

                <div ng-hide="vote.submitting || vote.submitted || vote.submitError">
                  Äänestä
                </div>
            </button>

            <div
              class="alert alert-success"
              role="alert"
              ng-if="vote.submitted && !vote.submitError">
              <strong>Äänesi on nyt kirjattu!</strong> Voit sulkea selainikkunan.
            </div>

            <div
              class="alert alert-danger"
              role="alert"
              ng-if="vote.submitError">
              <strong>Äänestäminen epäonnistui!</strong>
              <br>
              Lataa äänestyssivu uudelleen selaimen
              refresh-toiminnolla ja yritä äänestää uudelleen.
            </div>

          </div>
        </div>
      </div>

      <div ng-if="vote.loading">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      </div>

      <div ng-if="!vote.loading">

        <!-- SEARCH -->
        <h2>Hae ehdokasta</h2>
        <label>
          Numero
          <input ng-model="vote.candidate.number">
        </label>

        <label>
          Nimi
          <input ng-model="vote.candidate.name">
        </label>

        <!-- ALLIANCES -->
        <div ng-repeat="a in vote.alliances">
          <h1
            ng-bind="a.name"
            ng-show="filteredCandidates.length">
          </h1>

          <!-- CANDIDATES OF ALLIANCE -->
          <table class="table table-striped table-hover">
            <thead>
              <th></th>
              <th>Numero</th>
              <th>Ehdokas (henkilökohtainen varajäsen)</th>
            </thead>

            <tbody>
              <tr
                ng-repeat="c in filteredCandidates = (a.candidates | filter:vote.candidate)"
                ng-class="{ 'info': vote.selected == c.id }"
                >

                <td>
                <label>
                  <input
                    type="radio"
                    ng-disabled="vote.submitting || vote.submitted"
                    ng-model="vote.selected"
                    ng-value="c.id">
                  </td>
                  <td ng-click="vote.select(c)">{{ c.number }}</td>
                  <td ng-click="vote.select(c)">{{ c.name }}</td>
                </label>
              </tr>
            </td>
          </table>

        </div>

        <!-- #TODO remove completely -->
        <pre ng-if="vote.debug" ng-bind="vote.alliances | candidate:vote.candidate | json"></pre>

      </div> <!-- /loading -->

    </form>

  </div> <!-- col -->
</div> <!-- row -->
